code {
    padding: 2px 4px;
    font-size: 90%;
    color: #4A4A4A;
    background-color: #F7F7F7;
    border-radius: 3px;
}

blockquote {
    border-left: 4px solid #ECFFBF;
    margin-left: 0.8em;
    margin-top: 0;
    padding: 0.8em;
}